{% extends "navigator/base.html" %}

{% block title %}User Details{% endblock %}

{% block content %}

<h1>User Details for User {{user.id}}: {{user.first_name}} {{user.last_name}}</h1>
{% if user == request.user %}
<p>Actions: <a href="{% url user-change-password %}">Change password</a></p>
{% endif %}
<h2>Edit details</h2>
<form action="{% url user user.id %}" method="POST">
 <table>
  {{ form.as_table }}
 </table>
 <input type="submit" value="Update User Details"></input>
</form>

<h2>Projects of User</h2>
{{ projects|safe }}

{% endblock %}
